

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;

  background-color: #b5c4b1;
}
h1 {
  margin-top: 20px;
  text-align: center;
  color:rgb(201,158,78);

}

h2 {
  text-align: center;
  color:rgb(201,158,78);
  margin-bottom: 30px;
}

h3 {
  font-family: 'Khula', sans-serif;
  color: #e28743;

  margin: 10px;
}

h8{
  font-family: 'Khula', sans-serif;
  color: rgb(144,59,28);
  padding: 10px;
}

li{
  font-size: larger;
}

a {
  color: #c99833;
}
.titlePic{
  max-width: 100%;
}
.wrapper{
  background: url("../images/back1.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 10%;
  height: 750px;
  padding: 100px;


  box-shadow: 0 0 20px 5px hsl(354, 23%, 84%);
}



.inner{
  background-color: rgba(216,202,175,0.9);
  height: 600px;
  padding-top: 200px;

}

.inner h1{
  color: #eeeee4;
}


.navbar  {
  text-align: center;
  background-color: #b5c576;

  transition: background-color 0.5s;
}
.link{
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e28743;

  border-radius: 8px;
  padding: 5px;

  color: #e28743;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;


}
.link:hover{
  color: firebrick;
  background-color: #fff;
  box-shadow:inset 0 0 0 1px rgba(226,135,67,1);

}


.container {
  position: relative;

}




.main-section{
  padding: 5%;

}

.titleAboutMe{
  padding: 25px;
  background-color: #eeeee4;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px hsl(48, 100%, 20%);
}

.list-group-item {
  background-color: #eeeee4;
  border-style: none ;
  color: #76b5c5;
}



#contact{
  margin: 150px;
  padding: 35px;
  background-color: #eeeee4;



}
.form-title{
  font-size: large;
  color: orange;
}

.card{
  border: 0.20rem solid #e28743;
  top: 10%;
  border-radius: 15px;

  box-shadow: 0 0 20px 5px hsl(354, 23%, 84%);
}
.form-control{
  background-color: #f8f9fa;

  padding: 15px 7px;
  margin-bottom: 1.3rem;
  border: 0.10rem solid darkseagreen;
}

.btn-primary{
  background-color: darkred;
  margin-left: 3px;
  border-color: #b5c576;
}
.btn-primary:hover{
  background-color: darkslategrey;


}

.register-form{
  background: url("../images/2.jpg") no-repeat center center;


}
.create{
  border-radius: 3px;
  border-color: #eeeee4;
}




input,textarea,input:focus {
  border-radius: 15px !important;
  background: #ecf0f1 !important;
  box-shadow: inset 3px 3px 7px #c9cccd,
  inset -3px -3px 7px #ffffff;
  border: none !important;
  /* Below gets rid of the default chrome styles for autocomplete */
  outline: 0 !important;
  appearance: none !important;
  -webkit-appearance: none !important;
}
.banner{
  background-color: rgb(123,139,111);
}

a {
  text-decoration: none;
}

.-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 25px;
  text-align: center;
  border-radius: 12px;
  margin-top: 12px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.-btn:hover {
  opacity: .4;
}

.-bg {
  background: rgb(181,196,177);
  border-radius: 0;
}

.card-body{
  margin-top: 2px;
  padding-top: 0px;
}
.btn-info{
  background-color: rgb(198,175,117);
}
#filterInput{
  padding:2px;
  border-radius: 5px !important;
  background: #ecf0f1 !important;
  margin-left: 5px;
  margin: 2px 5px;

}