
<h1>Add a New Applications</h1>
<form method="post">
    <fieldset class="form-group">
        <label for="postDate" class="control-label col-2">Post Date</label>
        <input class="form-control" name="postDate" id="postDate" type="date" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="applyDate" class="control-label col-2">Apply Date</label>
        <input class="form-control" name="applyDate" id="applyDate" type="date" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="applyDeadline" class="control-label col-2">Apply Deadline</label>
        <input class="form-control" name="applyDeadline" id="applyDeadline" type="date" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="startTime" class="control-label col-2">startTime</label>
        <input class="form-control" name="startTime" id="startTime" type="date" required />
    </fieldset>

    <fieldset class="form-group">
        <label for="company" class="control-label col-2">Company</label>
        <input class="form-control" name="company" id="company" type="text" required />
    </fieldset>


    <div class="offset-2">
        <button class="btn btn-primary">Save</button>
    </div>
</form>